{% extends "layout.html" %}

{% block head %}
	<title>\\dash</title>
{% endblock %}

{% block content %}

		{% if message %}
		<div class="row">
			<div class="col s12 m6">
				<div class="card red darken-4">
					<div class="card-content white-text">
						<p>{{message}}</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s3"><a href="#create-group" class="orange-text">Create Group</a></li>
					<li class="tab col s3"><a href="#add-series" class="orange-text">Add Series</a></li>
					<li class="tab col s3"><a href="#add3" class="orange-text">Add Something Else</a></li>
					<li class="tab col s3"><a class="active orange-text" href="#add4">Add a Fourth Thing</a></li>
				</ul>
			</div>
			<div id="create-group" class="col s12">
				<div class="divider"></div>
				<div class="section">
					<div class="row">
						<form class="col s12" method="POST" action="/add-group">
							<div class="row">
								<div class="col s2"></div>
								<div class="input-field col s4">
									<input id="group-name" type="text" class="validate" name="group_name">
									<label for="group-name" class="orange-text">Group Name</label>
								</div>
								<div class="input-field col s4">
									<input id="group_icon" type="text" class="validate" name="group_icon">
									<label for="group_icon" class="orange-text">Group Icon</label>
								</div>
								<div class="col s2"></div>
							</div>
							<div class="row">
								<div class="col s9"></div>
								<div class="col s2">
									<button class="btn waves-effect waves-light orange darken-1" type="submit">Submit
										<i class="material-icons right">send</i>
									</button>
								</div>
								<div class="col s1"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="add-series" class="col s12">
				<div class="divider"></div>
			</div>
			<div id="add3" class="col s12">
				<div class="divider"></div>
			</div>
			<div id="add4" class="col s12">
				<div class="divider"></div>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<div class="col s1"></div>
				<div class="col s10">
					<div id="main-logo">
						<p id="main-logo-orange">\\</p>
						<p id="main-logo-black">dash</p>
					</div>
				</div>
				<div class="col s1"></div>
			</div>
		</div>

		<div class="divider"></div>

		{% for group in groups %}
		<div class="row">
			<div class="col s12">
				<div class="row">
					<div class="col s1"></div>
						<div class="col s10">
							<div class="card white">
								<div class="card-content black-text">
									<div class="col s6 same-line">
										<h4 class="text-bold"><i class="small material-icons">{{group.icon}}</i> {{group.name}}</h4>
									</div>
									<div class="col s6">
										<div class="row">
											<div class="col s12">
												<ul class="tabs">
													<li class="tab col s3"><a href="#group-info-{{group.slug}}" class="orange-text">Wesites</a></li>
													<li class="tab col s3"><a href="#add-website-{{group.slug}}" class="orange-text">Add Website</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="divider"></div>
									<div class="section">
										<div id="group-info-{{group.slug}}">
											<div class="divider"></div>
												<div class="row">
													<div class="col s12 m7">
														{% for website in group.websites %}
														<div class="col s3">
															<a href="{{website.url}}">
																<div class="card small">
																	<div class="card-image">
																		<img src="{{website.image}}">
																		<span class="card-title text-black">{{website.name}}</span>
																	</div>
																	<div class="card-content">
																		<p>{{website.description}}</p>
																	</div>
																</div>
															</a>
														</div>
														{% endfor %}
													</div>
												</div>
											</div>
										</div>
										<div id=add-website-{{group.slug}}>
											<div class="divider"></div>
											<div class="row">
												<form class="col s12 text-orange" method="POST" action="/add-website/{{group.slug}}">
													<div class="row">
														<div class="col s1"></div>
														<div class="input-field col s3">
															<input id="website_name-{{group.slug}}" type="text" class="validate" name="website_name">
															<label for="website_name-{{group.slug}}" class="orange-text">Website Name</label>
														</div>
														<div class="input-field col s3">
															<input id="website_image-{{group.slug}}" type="text" class="validate" name="website_image">
															<label for="website_image-{{group.slug}}" class="orange-text">Website Image</label>
														</div>
														<div class="input-field col s4">
															<input id="website_url-{{group.slug}}" type="text" class="validate" name="website_url">
															<label for="website_url-{{group.slug}}" class="orange-text">Website URL</label>
														</div>
														<div class="col s1"></div>
													</div>
													<div class="row">
														<div class="col s9"></div>
														<div class="col s2">
															<button class="btn waves-effect waves-light orange darken-1" type="submit">Submit
																<i class="material-icons right">send</i>
															</button>
														</div>
														<div class="col s1"></div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="col s1"></div>
				</div>
			</div>
		</div>
		{% endfor %}

{% endblock %}

{% block scripts %}
{% endblock %}