<!DOCTYPE html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css" media="screen,projection"\>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/fullcalendar/fullcalendar.css">
		<link rel="stylesheet" type="text/css" href="/fullcalendar/fullcalendar.print.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{% block head %}
		{% endblock %}
	</head>

	<body>

		<main>
			<div class="row">
				<div class="col s12">
					<ul class="tabs">
						<li class="tab col s3"><a href="#create-group" class="orange-text">Create Group</a></li>
						<li class="tab col s3"><a href="#add-series" class="orange-text">Add Series</a></li>
						<li class="tab col s3"><a href="#add3" class="orange-text">Add Something Else</a></li>
						<li class="tab col s3"><a class="active blue-text text-darken-2" href="#online-events">Online Event Calendar</a></li>
					</ul>
				</div>
				<div id="create-group" class="col s12">
					<div class="divider"></div>
					<div class="section">
						<div class="row">
							<form class="col s12" method="POST" action="/add-group">
								<div class="row">
									<div class="col s2"></div>
									<div class="input-field col s4">
										<input id="group-name" type="text" class="validate" name="group_name">
										<label for="group-name" class="orange-text">Group Name</label>
									</div>
									<div class="input-field col s4">
										<input id="group_icon" type="text" class="validate" name="group_icon">
										<label for="group_icon" class="orange-text">Group Icon</label>
									</div>
									<div class="col s2"></div>
								</div>
								<div class="row">
									<div class="col s9"></div>
									<div class="col s2">
										<button class="btn waves-effect waves-light orange darken-1" type="submit">Submit
											<i class="material-icons right">send</i>
										</button>
									</div>
									<div class="col s1"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div id="add-series" class="col s12">
					<div class="divider"></div>
				</div>
				<div id="add3" class="col s12">
					<div class="divider"></div>
				</div>
				<div id="online-events" class="col s12">
					<div class="divider"></div>
					<div id="calendar"></div>
				</div>
			</div>

			{% if message %}
			<div class="row">
				<div class="col s12 m6">
					<div class="card red darken-4">
						<div class="card-content white-text">
							<p>{{message}}</p>
						</div>
					</div>
				</div>
			</div>
			{% endif %}

			<div class="row">
				<div class="col s12">
					<div class="col s1"></div>
					<div class="col s10">
						<div id="main-logo">
							<p id="main-logo-orange">\\</p>
							<p id="main-logo-black">dash</p>
						</div>
					</div>
					<div class="col s1"></div>
				</div>
			</div>

			{% block content %}
			{% endblock %}
		</main>

		<script type="text/javascript" src="/javascripts/jquery-3.1.1.js"></script>
		<script type="text/javascript" src="/javascripts/materialize.js"></script>
		<script type="text/javascript" src="/javascripts/fullcalendar.js"></script>
		<script type="text/javascript" src="/javascripts/calendar.js"></script>

		{% block scripts %}
		{% endblock %}

		<footer class="page-footer orange darken-1">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">~ Backslash Dashboard | personal unified dashboard ~</h5>
						<div>
							<img class="responsive-img" src="/images/footer-lines-v2.png">
						</div>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">External links</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="https://www.github.com/frozenlight">My Github profile</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
				© 2016 Ole Anders Stokker :: oleast || frozenlight
				<a class="grey-text text-lighten-4 right" href="https://www.github.com/frozenlight/backdash">View this project on Github</a>
				</div>
			</div>
		</footer>
	</body>
</html>
